<% provide(:title, @user.name) %>
<section class="hero">
  <div class="hero-body">
    <div class="columns">
    <div class="column is-one-third">
      <aside class="menu">
        <section class="user_info">
          <h1 class="title">
            <%= @user.name %>
          </h1>
          <%= gravatar_for @user %>
        </section>
      </aside>
    </div>
    <div class="column">
      <div class="col-md-8">
        <% if @user.microposts.any? %>
          <h3 class="subtitle">Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
          <%= will_paginate @microposts, renderer: BulmaPagination::Rails %>
        <% end %>
      </div>
    </div>
  </div>
</section>
