<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to micropost.user.name, micropost.user %></strong> <small><%= time_ago_in_words(micropost.created_at) %></small>
          <% if current_user?(micropost.user) %>
            <%= link_to micropost_path(id: micropost.id), data: { confirm: "You sure?" }, method: :delete do %>
              <span class="icon is-large is-pulled-right">
                <i class="fa fa-trash fa-lg"></i>
              </span>
            <% end %>
            <%= link_to edit_micropost_path(id: micropost.id, method: :edit) do %>
              <span class="icon is-large is-pulled-right">
                <i class="fa fa-edit fa-lg"></i>
              </span>
            <% end %>
          <% end %>
          <br>
          <%= link_to micropost.content, micropost, class: "content" %>
          <br>
          <%= link_to image_tag(micropost.picture.url), micropost.picture.url if micropost.picture? %>
        </p>
      </div>
    </div>
  </article>
</div>