<!DOCTYPE html>
<html>
  <head>
    <meta data-n-head="true" charset="utf-8">
    <meta data-n-head="true" content="width=device-width,initial-scale=1" name="viewport">
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <section class="section">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="notification is-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </section>

  </body>

  <script type="text/javascript">
  document.body.addEventListener('keydown', function(e) {
    if(!(e.keyCode == 13 && e.metaKey)) return;
  
    var target = e.target;
    if(target.form) {
      target.form.submit();
    }
  });

  </script>
</html>
